body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(25,25,25);
    color: white;
    margin: 0px;
    padding: 0px;
}
.container img{
    border-radius: 5px;

}
.container{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 15px;
    padding: 15px;
    position: relative;
}
.container h1{
    text-align: center;
}
.container #downloadbtn{
    position: absolute;
    right: 12%;
    background-color: lime;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 5px 5px 5px black;
    will-change: transform;
    
    transition: transform 250ms;
}
.container #downloadbtn:hover{
    transform: scale(1.1);

}
@keyframes flow {
    from{transform: translateY(0px);}
    to{transform: translateY(-50px);}
}
#logo img{
    animation: flow 2s ;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    width: 64px;
    height: 64px;
    animation-direction: alternate;
    background-color: rgb(29, 29, 29);
    border-radius: 50%;
    margin: 15px;
    bottom: 15px;
    position: fixed;
}
#logo img:hover{
    cursor: pointer;
}